n8n-workflows/telegram_memory_logger.json
{
  "nodes": [
    {
      "parameters": {
        "updates": {
          "chatMessage": true
        }
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-cred-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const now = new Date();\nconst timestamp = now.toISOString().slice(0, 19);\n\nreturn [\n  {\n    json: {\n      filename: `memory_log_${timestamp}.txt`,\n      content: `${timestamp} - ${items[0].json.message.text}`\n    }\n  }\n];"
      },
      "name": "Format Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "path": "/data/ai-memory/logs/{{$json.filename}}",
        "data": "={{$json.content}}",
        "options": {}
      },
      "name": "Save to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Save to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "name": "telegram_memory_logger",
  "version": 1
}
